{% load custom_tags %}
<!doctype html>
<html lang="en">
<head>
    {# Put your name in `.env` :) #}
    <meta name="author" content="{% get_setting "META_AUTHOR" %}">
    {# Put your website description in `.env` :) #}
    <meta name="description" content="{% get_setting "META_DESCRIPTION" %}">

    <!-- The Open Graph protocol -->
    <!-- description: http://ogp.me/#metadata -->
    <meta property="og:title" content="{% get_setting "META_TITLE" %}" />
    <meta property="og:description" content="{% get_setting "META_DESCRIPTION" %}">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{% get_setting "META_URL" %}" />
    <meta property="og:image" content="{% get_setting "META_IMAGE" %}" />

    <!-- Twitter Cards -->
    <!-- description: https://dev.twitter.com/docs/cards -->
    <!-- validator: https://dev.twitter.com/docs/cards/validation/validator -->

    <!-- Summary: a regular card - title, description, small preview on the right, and a link. -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{% get_setting "META_SITE" %}">
    <meta name="twitter:creator" content="{% get_setting "META_CREATOR" %}">
    <meta name="twitter:title" content="{% get_setting "META_TITLE" %}">
    <meta name="twitter:description" content="{% get_setting "META_DESCRIPTION" %}">
    <meta name="twitter:domain" content="{% get_setting "META_DOMAIN" %}">
    <meta name="twitter:url" content="{% get_setting "META_URL" %}">
    <meta name="twitter:image" content="{% get_setting "META_IMAGE" %}">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <!-- small and minimalistic CSS framework :)-->
    <link rel="stylesheet" href="/static/css/mini-default.min.css" />
</head>
<body>
    {# Change navbar here #}
    <header>
      <div class="col-sm col-md-10 col-md-offset-1">
        <a href="/" class="logo" title="Homepage">Learn :)</a>
        <a href="/tutorials/" class="button" title="List of tutorials">Learn</a>
        <span>|</span>
        <a href="/about/" role="button" title="Info about this website">About</a>
        <span>|</span>
        <a href="https://github.com/Michae1Weiss/django-website-for-tutorials/tree/master" role="button" title="GitHub page of this website" target="_blank">GitHub</a>
        <span>|</span>
        {% if user.is_authenticated %}
          <a href="/logout/" role="button" title="Logout">Logout</a>
        {% else %}
          <a href="/login/" role="button" title="Login with username and password">Login</a>
        {% endif %}
      </div>
    </header>

    <div class="container">
      <div class="row cols-sm-12 cols-md-10">
        <div class="col-md-offset-1">
          {% block content %}{% endblock content %}
        </div>
      </div>
    </div>

    {# Change footer here #}
    <footer>
      <div class="col-sm col-md-10 col-md-offset-1">
        {# Put your company name here and all what your want :) #}
        <p>{% autoescape off %}{% get_setting "FOOTER_INFO" %}{% endautoescape %}| <a href="https://mifprojects.com/">About</a></p>
      </div>
    </footer>
</body>
</html>