{#  Extends base HTML template  #}
{% extends "base.html" %}

{#  Add title  #}
{% block title %}Tutorials{% endblock title %}

{#  Add content  #}
{% block content %}
  {#  Your content must be here  #}
  <nav>
    <a href="/">Home</a>
    <span>Tutorials</span>
    {% for tutorial in object_list %}
      <a href="/tutorial/day-{{ tutorial.day }}/" class="sublink-1">Day {{ tutorial.day }} - {{ tutorial.name }}</a>
    {% empty %}
      <a class="sublink-1">No articles yet.</a>
    {% endfor %}
    <a href="/about/">About</a>
  </nav>
{% endblock content %}